/*BOOTSTRAP STYLES*/

.table {
    --bs-table-bg: #EEF7FB;
}

.order {
    max-height: 468px;
    overflow-y: auto;
}
#profile-update-form input::placeholder {
    color: #4F617D;
}

#profile-update-form .form-control {
    color: #000;
}

#id_default_country option:last-child {
    color: #4F617D;
}
