{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col text-center mt-3">
    <h1 class="logo-font">Basket</h1>
</div>

<div class="basket-container container">
    <div class="basket-items">
        <li class="row">
            <div class="column">
                <!--BOOK COVER SMALL-->
            </div>
            <div class="column">
                <!--Book TITLE-->
                <!--BOOK AUTHOR-->
                <!--BOOK PRICE-->
            </div>
            <div class="column">
                <!--BOOK QUANTITY-->
            </div>
            <div class="column">
                <!--BOOK TOTAL-->
            </div>
        </li>
        <hr>
    </div>
</div>
{% endblock %}