/*GLOBAL STYLES*/
hr {
    width: 75%;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.message-container {
    z-index: 99;
}

body {
    color: black;
    font-weight: 600;
}

/*toasts*/
#toast {
    position: absolute;
    top: 75px;
    right: 15px;
}

#toast-close {
    position: absolute;
    right: 5px;
}

/*base.html*/
button.navbar-toggler.d-block.d-lg-none {
    color: #008080;
    background-color: #008080;
}

span.navbar-toggler-icon {
    color: #FFFFFA;
}

.nav-pills .d-block.nav-link.active {
    background-color: #008080;
    color: #FFFFFA;
}
.basket-bookmark-spend {
    width: 5rem;
    position: absolute;
    top: 50%;
    right: 6%;
}

.spend {
    font-size: 0.85rem;
}

.message-container {
    margin-top: 25%;
}

/*base.html MEDIA QUERIES*/
@media only screen and (min-width: 768px) {
    .basket-bookmark-spend {
        top: 17%;
        right: 3%;
    }

    .spend {
        font-size: 1rem;
    }
}

/*index.html*/
.main-img-container {
    width: 100%;
}

.main-books-img {
    display: block;
    margin: auto;
    width: 100%;
    height: 200px;
    background-image: url('/media/books-main-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

/*index.html MEDIA QUERIES*/
@media only screen and (min-width: 768px) {
    .main-books-img {
        height: 400px;
    }
}

@media only screen and (min-width: 1440px) {
    .main-books-img {
        height: 700px;
    }
}

/* books.html*/
.cover-img-sml {
    height: 350px;
    width: 250px;
}
.books-price {
    font-size: 1.50rem; 
}

.books-title {
    font-size: 1.40rem;
    font-weight: 400;
}

.books-author {
    font-size: 1.25rem;
}
/* book_summary.html*/
.cover-img-med {
    height: 400px;
    width: 300px;
}

.category-badge {
    font-size: 1rem;
}

.book-title {
    font-size: 2rem;
    font-weight: 400;
}

.book-author {
    font-size: 1.5rem;
}

.book-price {
    font-size: 2rem;
    font-weight: 400;
}

.book-summary {
    font-size: 1.10rem;
}

/*basket.html*/
.cover-img-sml {
    height: 150px;
    width: 100px;
}

th {
    text-decoration: underline;
}

/*checkout.html*/
.accordion#accordion-example {
    background-color: #008080;
}

#btn-adjust, #btn-submit {
    background-color: #008080;
    color: #FFFFFA;
}

