/*GLOBAL STYLES*/
hr {
    width: 75%;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.message-container {
    z-index: 99;
}

/*toasts*/
#toast {
    position: absolute;
    top: 75px;
    right: 15px;
}

#toast-close {
    position: absolute;
    right: 5px;
}
/* books.html*/
.cover-img-sml {
    height: 350px;
    width: 250px;
}
.books-price {
    font-size: 1.50rem; 
}

.books-title {
    font-size: 1.40rem;
    font-weight: 400;
}

.books-author {
    font-size: 1.25rem;
}
/* book_summary.html*/
.cover-img-med {
    height: 400px;
    width: 300px;
}

.category-badge {
    font-size: 1rem;
}

.book-title {
    font-size: 2rem;
    font-weight: 400;
}

.book-author {
    font-size: 1.5rem;
}

.book-price {
    font-size: 2rem;
    font-weight: 400;
}

.book-summary {
    font-size: 1.10rem;
}

/*basket.html*/
.cover-img-sml {
    height: 300px;
    width: 200px;
}