<div class="collapse navbar-collapse w-100" id="navbarTogglerDemo01">
    <ul class="navbar-nav nav-fill" id="nav-items">

        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a href="" class="nav-link-lg dropdown-toggle" role="button" 
                    data-bs-toggle="dropdown" aria-expanded="false">Book Admin</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'add_book' %}?category=non-fiction">Add Book</a></li>
                        <li><a class="dropdown-item" href="">Edit Book</a></li>
                        <li><a class="dropdown-item" href="">Delete Book</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'profile' %}" class="nav-link-lg">My Profile</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'account_logout' %}" class="nav-link-lg">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link-lg" href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-lg" href="{% url 'account_login' %}">Login</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link-lg" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link-lg" href="{% url 'books' %}">Books</a>
        </li>
        <!--CATEGORIES DROPDOWN-->
        <li class="nav-item dropdown">
            <a class="nav-link-lg dropdown-toggle" role="button" 
            data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'books' %}?category=non-fiction">Non-Fiction</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}?category=fiction">Fiction</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}?category=young adult">Young Adult</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}?category=children's">Children</a></li>
                <li><a class="dropdown-item" href="{% url 'books' %}?category=education">Education</a></li>
            </ul>
        </li>
    </ul>
</div>