{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Not just any book store. Bookmark-It allows users to save books to their reading lists and track their progress.">
    <meta name="keywords"
        content="books, store, bookstore, reading, wishlist, book lovers, chilren's books, fiction, non-fiction, education">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
    
    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block extra_js %}
    <script
    src="https://code.jquery.com/jquery-3.7.1.js"
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous"></script>
    
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    <title>Bookmark-It {% block extra_title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon/bmi-favicon.png' %}" type="image/x-icon">
    
</head>

<body>
    <!--NAVBAR-->
    <header>
        <nav class="navbar navbar-expand-lg text-body" id="nav">
            <div class="container justify-content-center">
                <div class="row">
                    <div class="col">
                        <div class="navbar-brand-bg">
                            <a class="navbar-brand" href="#" id="bmi-brand">BOOKMARK-IT</a>
                        </div>
                    </div>
                </div>
            </div>
                

            <div class="container d-none d-sm-block d-md-none d-lg-block d-sm-none d-md-block me-5">
                <div class="col">
                    <form method="GET" action="{% url 'books' %}" class="mt-2 d-flex w-100" role="search" id="search">
                        <input class="form-control ms-0" type="search" placeholder="Search" aria-label="Search" name="q" id="search">
                        <button class="btn" id="search-btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>

            {% include 'includes/nav-links.html' %}

            <!--<div class="container border justify-content-end">-->
            <div class="row basket-bookmark-spend mt-2">
                <div class="col fs-5">  
                    <a href="#" class="pe-2"><i class="bi bi-bookmark-fill"></i></a>
                    <a href="{% url 'basket' %}" ><i class="bi bi-basket3-fill"></i></a>
                </div>
                <div class="w-100"></div>
                <div class="col spend">
                    <p class="ms-4">
                        {% if total_price %}
                            £{{ total_price|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </div>
            </div>

            {% include 'includes/mobile-navbar.html' %}

        </nav>
    </header>
        
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    <!--FOOTER-->
    <footer>
        <div class="container">
            <!--Social Media Links here-->
        </div>
        <div class="container">
            <!--Copyright here-->
        </div>
    </footer>

    {% block postloadjs %}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                const getToast = document.getElementById('toast');
                let toast = new bootstrap.Toast(getToast);
                toast.show();

                const closeToast = document.getElementById('toast-close');
                closeToast.addEventListener('click', () => {
                toast.hide();
            })
                
            });
        </script>
    {% endblock %}
</body>

</html>