{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'books/css/books.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col text-center mt-3">
        <h1 class="logo-font">Books</h1>
    </div>
</div>
<hr class="mt-3 mb-3">
<div class="sort-container container mt-4">
    <div class="row align-items-end">
        <div class="sort col-8">
            <h5>Sort:</h5>
            <select onchange="optionUrl(this)" class="form-select w-50" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1" data-url="{% url 'books' %}?sort=title&direction=asc">Title</option>
                <option value="2" data-url="{% url 'books' %}?sort=author&direction=asc">Author</option>
                <option value="3" data-url="{% url 'books' %}?sort=price&direction=asc">Price(Low to High)</option>
                <option value="4" data-url="{% url 'books' %}?sort=price&direction=desc">Price(High to Low)</a></option>
            </select>
        </div>
        <div class="col-4">
            <p class="text-muted text-center">{{ books|length }} Books</p>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="book-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for book in books %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if book.cover %}
                                <a href="{% url 'book_summary' book.id %}">
                                    <img class="cover-img-sml card-img-top img-fluid" src="{{ MEDIA_URL }}{{ book.cover.url }}" alt="{{ book.title }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 badge rounded-pill">{{ book.category.friendly_name}}</p>
                                </div>
                                <div class="card-body pb-0">
                                    <p class="books-title mb-0">{{ book.title}}</p>
                                    <p class="books-author mb-0">{{ book.author}}</p>
                                </div>
                                <div class="card-body pb-0">
                                    
                                </div>
                                <div class="card-footer pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="books-price mb-0 text-left font-weight-bold">£{{ book.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'books/js/books.js' %}"></script>
{% endblock %}